<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{url_for('static', filename='canvas.css')}}">
	<script src="{{url_for('static', filename='canvas.js')}}"></script>
    </head>
    <body>
        <canvas class="hidden" id="container"></canvas>
        <div class="hidden" id="color-buttons">
            <button id="color-0">0</button>
            <button id="color-1">1</button>
            <button id="color-2">2</button>
            <button id="color-3">3</button>
            <button id="color-4">4</button>
            <button id="color-5">5</button>
            <button id="color-6">6</button>
            <button id="color-7">7</button>
            <button id="color-8">8</button>
            <button id="color-9">9</button>
        </div>
    </body>
</html>
